body {
    padding:0px;
    margin:0px;
    display:flex;
    flex-direction: column;
    align-items: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

div {
    box-sizing: border-box;
}

#input_div {
    border-style: solid;
    flex: 0 0 auto;
    display:flex;
    justify-content: center;
    gap: 100px;
    width: 800px;
    height: 200px;
}

#enter_weight {
    border-style: solid;
    flex: 0 0 auto;
    border-radius: 100px;
    height: 150px;
    width: 150px;
    margin-top: 23px;
    padding-bottom: 10px;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    text-align: center;
}

#input_weight {
    border-style: solid;
    flex: 0 0 auto;
    display:flex;
}

form {
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
}

input {
    width: 50px;
}

#display_div {
    border-style: solid;
    height: 600px;
    width: 800px;
    display:flex;
    flex-wrap: wrap;
    row-gap: 20px;
    column-gap: 30px;
    justify-content: space-around;
    align-content: center;
}

#div_week_one, #div_week_two, #div_week_three, #div_week_four { /*apply to all, delimited by a comma*/
    height: 200px;
    width: 350px;
    border-style: solid;
    padding:0px;
}

#div_week_one div, #div_week_two div, #div_week_three div, #div_week_four div { /*apply to divs inside the week divs (with space), this being done to all weeks, delimited by a comma*/
    border-style: solid;
    height: 20%;
    width: 100%;
}
