body {
    padding:20px;
    margin:0px;
    display:flex;
    flex-direction: column;
    align-items: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background: radial-gradient(rgb(255, 255, 255), rgba(183, 183, 183, 0.928));
    background-repeat: no-repeat;
    background-attachment: fixed;
    gap: 30px;
}

div {
    box-sizing: border-box;
}

#title {
    font-size: 250px;
    margin:0px;
    padding:0px;
    user-select: none;
}

#input_div {
    border-radius: 500px;
    flex: 0 0 auto;
    display:flex;
    justify-content: center;
    gap: 50px;
    width: 800px;
    height: 200px;
    background: linear-gradient(to bottom right, rgb(199, 196, 196), rgba(162, 154, 154, 0.928));
}

#enter_weight {
    flex: 0 0 auto;
    border-radius: 100px;
    height: 150px;
    width: 150px;
    margin-top: 23px;
    padding-bottom: 10px;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    text-align: center;
    background: radial-gradient(rgb(234, 234, 234),rgb(221, 220, 202));
    user-select: none;
}

#input_weight {
    flex: 0 0 auto;
    display:flex;
    font-size: larger;
    font-weight: bolder;
}

#arrow {
    align-self: center;
    font-size: 50px;
    background: radial-gradient(rgb(234, 234, 234),rgb(221, 220, 202));
    border-radius: 50px;
    padding-bottom: 10px;
}

form {
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
}

input {
    width: 50px;
    border-radius: 15px;
    border-style: none;
}

#display_div {
    border-radius: 100px;
    height: 600px;
    width: 800px;
    display:flex;
    flex-wrap: wrap;
    row-gap: 20px;
    column-gap: 30px;
    justify-content: space-around;
    align-content: center;
    background: linear-gradient(to left, rgb(152, 146, 146), rgb(161, 161, 161));
}

#div_week_one, #div_week_two, #div_week_three, #div_week_four { /*apply to all, delimited by a comma*/
    height: 200px;
    width: 350px;
    padding: 0px;
}



.exercise {
    border-style: solid;
    border-width: 1px;
    border-radius: 15px;
    height: 20%;
    width: 100%;  
    background-color: rgb(210, 210, 210); 
    padding-left: 5px;
    padding-top:7px;
}

.week {
    border-style: solid;
    border-width: 1px;
    border-radius: 15px;
    height: 20%;
    width: 100%;
    background-color: rgb(238, 236, 183);
    font-size:larger;
    text-align: center;
    padding-top:5px;
    font-weight: bolder;
}


